<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="application/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="login_top clearfix">
    <a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
</div>

<div class="login_form_bg">
    <div class="login_form_wrap clearfix">
        <div class="login_banner fl"></div>
        <div class="slogan fl">日夜兼程 · 急速送达</div>
        <div class="login_form fr">
            <div class="login_title clearfix">
                <h1>用户登录</h1>
                <a href="/register">立即注册</a>
            </div>
            <div class="form_input">
                <input type="text" name="username" class="name_input" placeholder="请输入用户名" value="{{.username}}">
                <div class="user_error">输入错误</div>
                <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
                <div class="pwd_error">输入错误</div>
                <div class="more_input clearfix">
                    <input type="checkbox" name="checkbox" {{.checked}}>
                    <label>记住用户名</label>
                    <a href="#">忘记密码</a>
                </div>
                <input type="button" id="submit" name="" value="登录" class="input_submit">
            </div>
        </div>
    </div>
</div>

<div class="footer no-mp">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>

</body>
<script>
    $("#submit").click(function () {
        var username = $(".form_input").find(".name_input").val();
        var pwd = $(".form_input").find(".pass_input").val();
        var checked = $(".form_input").find("input[name='checkbox']:checked").val();
        var param = {username, pwd, checked};
        // alert(JSON.stringify(param));
        $.post("/login", param, res => {
            if (res.code == 200) {
                // location.href="/"
                var msg = res.data;
                console.log(msg);
                console.log(msg.Name);
                console.log(msg.Password);
            } else {
                alert(res.data)
            }
        })
    });

</script>
</html>